# Output directory for HTML files
output/
Gemfile.lock
*.html
.DS_Store


topics
node_modules
package-lock.json

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.project
.settings
settings.json
.vscode

# Ignore Latex (for exams)
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz 
bdd-exam.pdf
Scrum-2020-21.pdf
bdd.pdf
ci-fr.pdf
ci.pdf
exempleProjet2020.pdf
git.pdf
github.pdf
refactoring.pdf
requirements.pdf
sae5.01-evaluation2024.pdf
scrum.pdf
sni.pdf
sprintQA.pdf
statemachine.pdf
testingCI-uk.pdf
testingCI.pdf
tests.pdf
urn.pdf
reveal.js.old
